body{
    background-color: rgb(34, 34, 34);
    text-align: center;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
    padding-top: 50px;
    padding-bottom: 50px;
}

button{
    border: 2px solid rgb(164, 156, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-family: poppinsregular;
    font-size: 18px;
    line-height: 10px;
}

button:hover{
    background-color: rgb(164, 156, 255);
    color: white;
}